
        #backgroundCanvas,
        #characterCanvas {
            width: 640;
            height: 480;
            position: absolute;
            margin-left: -8px;
            margin-top: -8px;
            opacity: 0.7;
        }
        
        #mainDiv {
            width: 640px;
            height: 480px;
            position: absolute;
            margin-left: -8px;
            margin-top: -8px;
            text-align: center;
        }
        
        #logo {
            margin-top: 50px;
            font-size: 50px;
        }
        #overMsg{
            margin-top:50px;
            font-size:100px;
            color:red;
        }
        #clearMsg{
            margin-top:50px;
            font-size:100px;
            color:blue;
        }
        
        #readme {
            margin-top: 100px;
            font-size: 20px;
        }
        
        #homeMenu {
            display: block;
        }
        
        #homeMenu button {
            font-size: 30px;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            height: 100px;
            display: block;
        }
        
        #pauseMenu {
            display: none;
        }
        
        #pauseMenu button {
            display: block;
            font-size: 30px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            height: 100px;
        }
        #overMenu{
            display: none;
        }
        #overMenu button {
            display: block;
            font-size: 30px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            height: 100px;
        }        
        #clearMenu{
            display: none;
        }
        #clearMenu button {
            display: block;
            font-size: 30px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            height: 100px;
        }
